<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Ponto de Adoção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
</head>
<body>

 <nav class="top-nav">
        {% if current_user.is_authenticated %}
            <span>Bem-vindo, {{ current_user.nome }}!</span>  |
            <a href="{{ url_for('home') }}">Inicio</a>  |
            <a href="{{ url_for('sobre') }}">Sobre nós</a>  |
            <a href="{{ url_for('auth.denunciarAnimais') }}">Denunciar Animal</a>  |
            <a href="{{ url_for('auth.cadastrar_ponto') }}">Cadastrar Ponto de Adoção</a>  |
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('sobre') }}">Sobre nós</a>  |
            <a href="{{ url_for('auth.login') }}">Login</a>  |
            <a href="{{ url_for('auth.register') }}">Cadastro</a>
        {% endif %}
    </nav>

<main>

    <!-- Caixa de instruções -->


    <div id="map-container">
        <div id="map"></div>
    </div>
    
    <div class="cadastro-container">
    <!-- Caixa explicando o formulário -->
    <div class="info-box">
        <h3>Formulário de Registro</h3>
        <p>Preencha atentamente os campos a seguir para garantir que o ponto de adoção seja exibido corretamente e esteja acessível ao público interessado.</p>
    </div>
    
     <form class="cadastro-form" method="POST">
        {{ form.hidden_tag() }}

        <label>
            {{ form.nome_local.label }}
            {{ form.nome_local(placeholder="Ex: Centro de Adoção PetLove") }}
        </label>

        <label>
            {{ form.tipo_animal.label }}
            {{ form.tipo_animal() }}
        </label>

        <label>
            Coordenada
            {{ form.cordenada(id="cordenada", readonly=True, placeholder="Clique no mapa para definir") }}
        </label>

        <label>
            {{ form.responsavel_contato.label }}
            {{ form.responsavel_contato(placeholder="Telefone ou e-mail para contato") }}
        </label>

        <button type="submit" class="submit-btn">Cadastrar Ponto</button>
    </form>
    </div>
    <script>
        const denuncias = {{ denuncias | tojson }};
        const pontos = {{ pontos | tojson }};
    </script>
</main>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/ponto_adocao.js') }}"></script>

<footer>
    <p>Ícones por <a href="https://www.flaticon.com/authors/berkahicon" title="berkahicon">berkahicon</a> de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</footer>

</body>
</html>
